@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
    font-family: 'Inter';
    src: local('Inter')
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

img {
    width: 100%;
    height: 100%;
}